#main-title {
  display: block;
  width: 30%;
  height: 50px;
  background-color: teal;
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-size: xx-large;
  color: white;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 10px;
}

#chart-div-detail {
  width: 75%;
  height: 400px;
  margin: auto;
}

#number-of-entries {
  border-radius: 15px;
  font-family: Verdana, sans-serif;
  display: inline-block;
  border: 3px solid teal;
  width: 15%;
  padding: 1rem 1rem;
  vertical-align: middle;
  margin-right: 1%;
}

#total-number-medals {
  border-radius: 15px;
  font-family: Verdana, sans-serif;
  display: inline-block;
  border: 3px solid teal;
  width: 15%;
  padding: 1rem 1rem;
  vertical-align: middle;
  margin-right: 1%;
  margin-left: 1%;
}

#total-numbers-athletes {
  border-radius: 15px;
  font-family: Verdana, sans-serif;
  display: inline-block;
  border: 3px solid teal;
  width: 15%;
  padding: 1rem 1rem;
  vertical-align: middle;
  margin-left: 1%;
}

@media only screen and (max-width: 600px) {
  #chart-div-detail {
    width: 100%;
    height: 300px;
    margin: auto;
  }

  #main-title {
    display: block;
    width: 30%;
    height: 70px;
    background-color: teal;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-size: x-large;
    color: white;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
