<div class="main-title">Medals per Country</div>
<div class="main-statistics">
  <div class="number-of-edition">Number of JOs <br>
    <div style="text-align: center; font-family: Verdana, sans-serif;"><b>{{ numberOfEdition }}</b></div>
  </div>
  <div class="number-of-countries">Number of countries<br>
    <div style="text-align: center; font-family: Verdana, sans-serif;"><b>{{ numberOfCountries }}</b></div>
  </div>
</div>
<div>
  <div id="chart-div" style="font-family: Verdana, sans-serif"></div>
</div>
