<div id="main-title">Medals per Country</div>
<div style="text-align: center; border: 1px none white; margin: auto; padding: 1rem 1rem; width: 50%;">
  <div style="border-radius: 15px;font-family: Verdana, sans-serif; display: inline-block; border: 3px solid teal; width: 25%; padding: 1rem 1rem;vertical-align: middle;margin-right: 5%">Number of JOs <br>
    <div style="text-align: center; font-family: Verdana, sans-serif;"><b>{{numberOfEdition}}</b></div>
  </div>
  <div style="border-radius: 15px;font-family: Verdana, sans-serif; display: inline-block; border: 3px solid teal; width: 25%; padding: 1rem 1rem;vertical-align: middle;left: 5%">Number of countries<br>
    <div style="text-align: center; font-family: Verdana, sans-serif;"><b>{{numberOfCountries}}</b></div>
  </div>
</div>
<div id="chartdiv" style="font-family: Verdana, sans-serif"></div>
